<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
        
	<context:component-scan base-package="com.marketplace" />
	<!-- Enable annotation configuration -->
	<tx:annotation-driven  transaction-manager="jdoTransactionManager" />
    <context:annotation-config/>
    <!-- PMF Bean -->
		<bean id="pmf" class="org.springframework.orm.jdo.LocalPersistenceManagerFactoryBean">
		<property name="jdoProperties">
			<props>
				<prop key="javax.jdo.PersistenceManagerFactoryClass">org.datanucleus.api.jdo.JDOPersistenceManagerFactory</prop>
				<prop key="javax.jdo.option.ConnectionURL">jdbc:mysql://localhost:3306/marketplace</prop>
				<prop key="javax.jdo.option.ConnectionUserName">root</prop>
				<prop key="javax.jdo.option.ConnectionPassword">password</prop>
				<prop key="datanucleus.autoCreateSchema">true</prop>
				<prop key="javax.jdo.option.ConnectionDriverName">com.mysql.jdbc.Driver</prop>
			</props>
		</property>
		</bean>
		<!-- Transaction Manager for PMF -->
		<bean id="jdoTransactionManager" class="org.springframework.orm.jdo.JdoTransactionManager">
			<property name="persistenceManagerFactory">
				<ref bean="pmf"/>
			</property>
		</bean>
		

</beans>